@model Workana.QR.WebSite.ViewModels.LoginViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<br />
    <div class="card" style="width: 18rem;    margin: 0 auto;
        float: none;
        margin-bottom: 10px;">
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="Email">Correo</label>
                    <input type="email" class="form-control" asp-for="Email" id="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Contraseña</label>
                    <input type="password" class="form-control" asp-for="Password" id="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </div>